<h1>{{title}}</h1>
<a href='/'> back to homepage</a>

<h1>{{ heading }}</h1>
<table class="table">
  <thead>
    <tr>
      <th><a href=''>Title</a></th>
      <th>Director</th>
      <th>Year</th>
      <th>My Rating</th>
      <th>Movie Poster</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>{{amalia.title}}</td>
      <td>{{amalia.director}}</td>
      <td>{{amalia.year}}</td>
      <td>{{amalia.my_rating}}</td>
      <td><img height='100' width='50' src="{{amalia.poster_url}}"></td>
      <td>edit</td>
      <td>delete</td>

    </tr>

  </tbody>
</table>
<br>
<a href="/">Return to home page</a>
