<h1>{{title}}</h1>
<a href='/'> back to homepage</a>
<p>handlebars shitttt</p>




<h1>{{ heading }}</h1>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Year</th>
      <th>My Rating</th>
      <th>Movie Poster</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
    <tr>
      <td><a href="/movies/{{id}}">{{title}}</a></td>
      <td>{{director}}</td>
      <td>{{year}}</td>
      <td>{{my_rating}}</td>
      <td><img height='100' width='50' src="{{poster_url}}"></td>
      <td>edit</td>
      <td>
          <form action="/movies/{{this.id}}?_method=DELETE" method="POST">
            <input class="btn btn-sm btn-danger"
            type="submit"
            name="delete"
            value="Delete Movie">

        </form></td>
        <td>
            <form action="/movies/{{this.id}}/edits" method="GET">
              <input class="btn btn-sm btn-danger"
              type="submit"
              name="edit"
              value="edit Movie">

          </form></td>

    </tr>


    {{/each}}
  </tbody>
</table>
<br>
<a href="/">Return to home page</a>
