{{#if error}}
<div class="alert alert-danger">
  {{ error }}
</div>
{{/if}}

<form method="POST" action="/movies" class="well">
  <div class="form-group">
    <label for="name">Title</label> <input id="title" name="title"type="text" class="form-control" value="{{movies.title}}">
  </div>
  <div class="form-group">
    <label for="image">Director</label> <input id="director" name="director" type="text" class="form-control" value="{{movies.director}}">
  </div>
  <div class="form-group">
    <label for="item">Year</label> <input id="year" name="year" type="text" class="form-control" value="{{movies.year}}">
  </div>
  <div class="form-group">
    <label for="item">My Rating</label> <input id="my-rating" name="my-rating" type="number" class="form-control" min="1" max="5" value="{{movies.my_rating}}">
  </div>
  <div class="form-group">
    <label for="image">Poster URL</label> <input id="poster-url" name="poster-url" type="text" class="form-control" value="{{movies.poster_url}}">
  </div>


  <div class="form-group">
    <input id="submit" type="submit">
  </div>

</form>

<script src="/js/jquery-3.2.0.min.js" charset="utf-8"></script>
<script src="/js/requests.js" charset="utf-8"></script>
<script type="text/javascript">
